<template>
  <div>
      <div class="container-xl">
        <div class="modal" :class="{show:modal}">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                    <button @click="closeModal();" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Placa</label>
                        <input v-model="vehicle.plate" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label for="">Marca</label>
                        <div class="form-group">
                            <select class="form-control option" name="" id="" v-model="vehicle.brand">
                                <option value="" disabled selected>-- Seleccione --</option>
                                <option class="option" v-for="(brand, index) in brands" :key="index" v-bind:value="{id:brand.id}"><p>{{brand.name_brand}}</p></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Tipo de vehiculo</label>
                        <div class="form-group">
                            <select class="form-control option" name="" id="" v-model="vehicle.type">
                                <option value="" disabled selected>-- Seleccione --</option>
                                <option class="option" v-for="(type, index) in types" :key="index" v-bind:value="{id:type.id}">{{type.type_vehicle}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Propietario</label>
                        <div class="form-group">
                            <select class="form-control option" name="" id="" v-model="vehicle.owner">
                                <option value="" disabled selected>-- Seleccione --</option>
                                <option class="option" v-for="(owner, index) in owners" :key="index" v-bind:value="{id:owner.id, name: owner.first_name}">{{owner.first_name + ' ' + owner.last_name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button @click="closeModal();" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button @click="saveVehicle()" class="btn btn-success">Guardar</button>
                </div>
                </div>
            </div>
        </div>
          <div class="mt-5 row justify-content-between">
              <div class="col col-3">
                <button @click="abrirModal();" class="btn btn-primary" id="hl">Registrar Vehiculo</button>
              </div>
              <div class="col col-8 col-lg-7">
                <input class="form-control" placeholder="Buscar por placa, marca, tipo de vehiculo, propietario y cédula" type="search"  v-model="buscador" @keyup="searchV">
              </div>
          </div>
        <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Placa</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Tipo de vehiculo</th>
                    <th scope="col">Propietario</th>
                    <th scope="col">Cédula</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(vehicle, index) in vehicles" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                    <td class="td-s">{{ vehicle.plate }}</td>
                    <td>{{ vehicle.name_brand }}</td>
                    <td>{{ vehicle.type_vehicle }}</td>
                    <td>{{ vehicle.first_name + ' ' + vehicle.last_name }}</td>
                    <td>{{ vehicle.document }}</td>
                    <td align="center">
                        <button @click="deleteVehicle(vehicle.vehicle_id);" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
</template>

<script>

    export default {

        data() {
            return {
                vehicles: [],
                brands: [],
                owners: [],
                types: [],
                buscador: '',
                setTimeoutBuscador: '',
                modal: 0,
                id:0,
                title:'',
                vehicle: {
                    plate:'',
                    brand:'',
                    type:'',
                    owner:'',
                    owner:[]
                    

                }
            }
        }, 
        methods: {
            async list() {
            const res = await axios.get('/vehicles', {
                params: {
                    buscador: this.buscador
                }
            });
            this.vehicles = res.data;
            },
            async listBrand() {
                const res = await axios.get('/brands');
                this.brands = res.data;
            },
            async listOwners() {
                const res = await axios.get('/owners');
                this.owners = res.data;
            },
            async listTypes() {
                const res = await axios.get('/types');
                this.types = res.data;
            },
            abrirModal(data={plate:'', brand:'', owner:[], type:''}){
                this.modal=1;
                if(this.modificar){
                    this.title = "Modificar Propietario";
                    this.vehicle.plate=data.plate;
                    this.vehicle.brand=data.brand;
                    this.vehicle.owner['name']=data.owner;
                    this.vehicle.type=data.type;
                    // this.vehicle.first_name=data.first_name;
                    // this.vehicle.last_name=data.last_name;
                    // this.vehicle.document=data.document;
                } else {
                    this.title = "Crear Propietario";
                    this.vehicle.plate='';
                    this.vehicle.brand='';
                    this.vehicle.owner='';
                    this.vehicle.type='';
                }

            },
            closeModal(){
                this.modal=0;
            },
            async deleteVehicle(id) {
                const res = await axios.delete('/vehicles/'+id);
                this.list();
            },
            
            searchV() {
                clearTimeout(this.setTimeoutBuscador);
                this.setTimeoutBuscador = setTimeout(this.list, 360);
            },
            async saveVehicle() {

            if (this.modificar) {
                // const res = await axios.put('/owners/'+ this.id, this.owner);
            } else {
                try {
                    const res = await axios.post('/vehicles', this.vehicle).then((response)=>{console.log(response.data);});
                } catch (error) {
                    if (error.response.data.error) {
                        alert(error.response.data.error);
                    } else {
                        alert('Placa registrada')
                    }
                }
            }
            this.closeModal();
            this.list();
        },
        },
        created() {
            this.list();
            this.listBrand();
            this.listTypes();
            this.listOwners();
        }

    }
  
</script>

<style>
    .show {
        opacity: 1;
        background: rgba(71, 70, 70, 0.6);
        display: list-item;
    }
</style>