<template>
    <div class="container mt-5">
        <div class="mt-5 d-flex justify-content-center">
            <button class="btn btn-success" @click="res()">Mostrar Demo</button>
        </div>

        <div class="mt-5 d-flex justify-content-center flex-column align-items-center">
            <h2>{{obj}}</h2>
            <h4>Recuerde que los datos estan cargados de manera manual, si desea puede modificarlos</h4>
        </div>

    </div>
</template>

<script>

    export default {

        data() {
            return {
                obj:{}
            }
        }, 
        methods: {
            res() {
                this.obj = obj;
            }
        },

    }
    var obj = {};
    const data = [
        ["2018-12-01","AM","ID123",5000], 
        ["2018-12-01","AM","ID545",7000], 
        ["2018-12-01","PM","ID545",3000], 
        ["2018-12-01","PM","ID545",3000], 
        ["2018-12-02","AM","ID545",7000]	
    ]

    for (let subData of data) {
    const result =  Object.keys(obj).find(m => m == subData[0]);

    if(!result){
        obj[subData[0]] = {}
        Object.defineProperty(obj[subData[0]], subData[1], 
        { value: subData[3], 
        enumerable: true,
        writable: true
        });
    }
    else{
        const result = Object.keys(obj[subData[0]]).find(m => m == subData[1]);
        if(result){
        obj[subData[0]][subData[1]] += subData[3]
        }else{
        obj[subData[0]][subData[1]] = subData[3]
        }
    }
    }
</script>

<style>
    .show {
        opacity: 1;
        background: rgba(71, 70, 70, 0.6);
        display: list-item;
    }
</style>