<template>
  <div>
  <div>
      <div class="container-lg">
        <div class="modal" :class="{show:modal}">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                    <button @click="closeModal();" type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input v-model="owner.first_name" class="form-control" type="text" placeholder="Nombres">
                    </div>
                    <div class="form-group">
                        <input v-model="owner.last_name" class="form-control" type="text" placeholder="Apellidos">
                    </div>
                    <div class="form-group">
                        <input v-model="owner.document" @keypress="onlyNumber" class="form-control" type="text" placeholder="Cédula">
                    </div>
                </div>
                <div class="modal-footer">
                    <button @click="closeModal();" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button @click="saveOwner();" class="btn btn-success">{{titleBtn}}</button>
                </div>
                </div>
            </div>
        </div>
        <div class="mt-5">
            <button @click="modificar=false; abrirModal();" class="btn btn-primary">Crear propietario</button>
        </div>
        <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cédula</th>
                    <th scope="col" colspan="2" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(owner, index) in owners" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                    <td>{{ owner.first_name }}</td>
                    <td>{{ owner.last_name }}</td>
                    <td>{{ owner.document }}</td>
                    <td align="center">
                        <button @click="modificar=true; abrirModal(owner);" class="btn btn-warning">Editar</button>
                    </td>
                    <td align="center">
                        <button @click="deleteOwner(owner.id);" class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
  </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            owners: [],
            owner: {
                first_name:'',
                last_name:'',
                document:''
            },
            id:0,
            modal:0,
            title: '',
            titleBtn:'',
            modificar:true,

        }
    }, 
    methods: {
        async list() {
            const res = await axios.get('/owners');
            this.owners = res.data;
        },
        abrirModal(data={first_name:'', last_name:'', document:'', id:0}){
            this.modal=1;
            if(this.modificar){
                this.title = "Modificar Propietario";
                this.titleBtn = 'Actualizar';
                this.id=data.id;
                this.owner.first_name=data.first_name;
                this.owner.last_name=data.last_name;
                this.owner.document=data.document;
            } else {
                this.title = "Crear Propietario";
                this.titleBtn = 'Crear';
                this.id=0;
                this.owner.first_name='';
                this.owner.last_name='';
                this.owner.document='';
            }
        },
        closeModal(){
            this.modal=0;
        },
        async deleteOwner(id) {
            const res = await axios.delete('/owners/'+id);
            this.list();
        },
        onlyNumber ($event) {
        let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
        if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
            $event.preventDefault();
        }
        },
        async saveOwner() {

            if (this.modificar) {
                try {
                const res = await axios.put('/owners/'+ this.id, this.owner);
                } catch (error) {
                    if (error.response.data.error) {
                        alert(error.response.data.error);
                    } else {
                        alert('Cédula registrada')
                    }
                }
            } else {
                try {
                    const res = await axios.post('/owners', this.owner);
                } catch (error) {
                    if (error.response.data.error) {
                        alert(error.response.data.error);
                    } else {
                        alert('Cédula registrada')
                    }
                }
            }
            this.closeModal();
            this.list();
        },
    },
    created() {
        this.list();
    }
}
</script>

<style>
    .show {
        opacity: 1;
        background: rgba(71, 70, 70, 0.6);
        display: list-item;
    }
</style>