// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'topography';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'header/header.scss';


body {
    font-family: 'Raleway-Regular';
}

.option {

    &::first-letter {
        text-transform: uppercase;
    }
}

td {
    &::first-letter {
        text-transform: uppercase;
    }
}

.td-s {
    text-transform: uppercase;
}

option {
    &::first-letter {
        text-transform: uppercase;
    }
}