<template>
  <div>
        <header>
          <div class="container-logo">
              <a href="">
                <i class="fas fa-car"></i>
                <h2>4 Ruedas</h2>
              </a>
          </div>
          <div class="container-link">
            <ul>
              <li><button class="btn-link" v-on:click="onClickShowOwners()">Propietarios</button></li>
              <li><button class="btn-link" v-on:click="onClickShowVehicles()">Vehiculos</button></li>
              <li><button class="btn-link" v-on:click="onClickShowBrands()" >Marcas</button></li>
              <li><button class="btn-link" v-on:click="onClickShowDemo()" >Demo</button></li>
            </ul>
          </div>
      </header>
  </div>
</template>

<script>
export default {
  data() {
      return {
          
      }
  },
  methods: {
    onClickShowOwners(){
        this.$emit('owner');
    },
    onClickShowVehicles(){
        this.$emit('vehicle');
    },
    onClickShowBrands(){
        this.$emit('brand');
    },
    onClickShowDemo(){
        this.$emit('demo');
    }  
  }
}
</script>

<style>

</style>