<template>
  <div>
      <header-component
      @owner="showOwners()"
      @vehicle="showVehicles()"
      @demo="showDemo()"
      @brand="showBrands()"
       />
       <div v-if="current == 1">
            <index-owners /> 
       </div>
       <div v-if="current == 2">
            <index-vehicles />
       </div>
        <div v-if="current == 3">
            <index-brands />
       </div>
        <div v-if="current == 4">
            <index-add />
       </div>
   
  </div>
</template>

<script>
import Header from './components/Header.vue'
import IndexBrands from './module-brands/pages/IndexBrands.vue'
import IndexOwners from './module-owners/pages/IndexOwners.vue'
import IndexVehicles from './module-vehicles/pages/IndexVehicles.vue'
export default {

  components: { IndexVehicles, IndexOwners },

  data() {
   return {
          current:0,
      }
  },
  methods: {
        showOwners(){
            this.current = 1
        },
        showVehicles(){
            this.current = 2
        },
        showBrands(){
            this.current = 3
        },
        showDemo(){
            this.current = 4
        },
  }

}
</script>

<style>

</style>