<template>
  <div class="container">
      <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Cantidad de Vehiculos</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(brand, index) in brands" :key="index">
                <th scope="row">{{ index + 1 }}</th>
                    <td>{{ brand.name_brand }}</td>
                    <td>{{ brand.count }}</td>
                </tr>
            </tbody>
        </table>
  </div>
</template>

<script>
export default {
    data() {
        return {
            brands:[]
        }
    },
    methods: {
        async list() {
            const res = await axios.get('/count-brands');
            this.brands = res.data;
        },
    },
    created() {
        this.list();
    }
}
</script>

<style>

</style>