
header {

    height: 90px;
    width: 100%;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 8px rgba(143, 142, 142, 0.5);

    .container-logo {
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            i {
                font-size: 4rem;
                color: $blue;
            }
            h2 {
                margin-left: 1rem;
            }
        }

    }

    .container-link {
    
        ul {

            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 90px;
            margin: 0;
            padding: 0;
    
            li {
                padding: 0 1.5rem;
                list-style: none;

                .btn-link {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }

}